/* ==========================================
Courses Module
Part 1A
========================================== */

.courses-module{
    width:100%;
    padding:25px;
}

#courseSearchArea,
#courseFilterArea,
#featuredCoursesArea,
#recommendedCoursesArea,
#allCoursesArea,
#paginationArea{

    margin-bottom:30px;

}
