/* ==========================================
Courses Module
Part 1A
========================================== */

.courses-module{
    width:100%;
    padding:25px;
}

#courseSearchArea,
#courseFilterArea,
#featuredCoursesArea,
#recommendedCoursesArea,
#allCoursesArea,
#paginationArea{

    margin-bottom:30px;

}

.course-search-box{

    display:flex;
    gap:10px;
    margin-bottom:20px;

}

.course-search-box input{

    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;

}

.course-filter-box{

    display:flex;
    gap:10px;
    flex-wrap:wrap;

}

.course-filter{

    padding:10px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;

}

.course-filter.active{

    background:#16a34a;
    color:#fff;

}
